<div class="terms-container">
  <div class="wrap-terms">
    <div class="terms">
       <h3>お問い合わせ</h3>
       <p>不具合・バグのご報告の際は、お使いのパソコンのOS、ブラウザの種類・バージョンをお分かりになる範囲で添えてください。</p>
       <p>不具合の内容につきましてもなるべく具体的にお伝えいただければ幸いです。</p>
       <p>※スマートフォンやタブレットでの動作不良・不具合には対応しておりません。</p>
       <p>・メールアドレス：surftyping1173@gmail.com（メールアドレスは変わることがありますので随時ご確認ください）</p>
       <p>・担当部署： SurfTyping運営事務局</p>
       <p>※基本的にメールへの返信はいたしませんが、不具合の検証やご質問への回答など個別の対応が必要な際には
ご連絡させていただくことがございます。何卒ご了承ください。</p>
       <%= link_to '戻る', root_path, class: 'return' %>
    </div>
  </div>
</div>
