<div>
  <h1>問題</h1>
  <p></p>
  <%= javascript_pack_tag 'typing/index' %>
  <div id="video-area">
  <%= video_tag("/assets/videos/surf.movie2.mp4", autoplay: true, loop: true, muted: true, width: "1000", height: "500") %>
  </div>
</div>
