<div class="top-wrapper">
  <div class="top-inner-text">
    <h1>概要</h1>
    <p>海を感じながら、タイピングの練習をしながらサーフィンしている気持ちになれる、タイピングゲームです。</p>
    <%= link_to 'Next', '#' %>
  </div>
  <div id="video-area">
  <%= video_tag("/assets/videos/My Movie 14.mp4", autoplay: true, loop: true, muted: true, width: "1000", height: "500") %>
  </div>
</div>
