<body class="video-fixed">
  <div class="container">
    <div class="top-wrapper">
      <div id="video-area">
       <%= video_tag('/videos/opening.mov', autoplay: true, loop: true, muted: true, class: 'top_video') %>
      </div>
      <div class="top-inner-text">
        <%= image_pack_tag("media/images/title.png") %>
        <h2 class="second_title">海を感じながら…サーフムービーをバックにタイピングの練習ができるアプリです。</h2>
        <p>気持ちが明るくなるような言葉を問題にしています。</p>
        <p id="volume">※音量注意・PCからアクセスしてください!!</p>
        <p>タイピング中は波・アコースティックギター・タイプミス時のエラーの音声が入っています。</p>
        <%= link_to 'Next', typings_path, class: 'next' %>
        <div class="footer-table">
          <%= render 'shared/footer' %>
        </div>
      </div>
    </div>
  </div>
</body>
