<div class="typing">
  <p id="timer"></p>
  <p id="typeMiss"></p>
  <p id="targetJp"></p>
  <p id="targetEn">Let's Surf Typing!</p>
  <p id="result"></p>
</div>
  <div id="video-area">
  <%= video_tag('/assets/videos/typing_movie.mp4', autoplay: true, loop: true) %>
  </div>
  <%= javascript_pack_tag 'typing/index' %>
