<div class="top-wrapper">
  <div id="video-area">
    <%= video_tag('/videos/surfmovie.mp4', autoplay: true, loop: true) %>
  </div>
 <div class="typing">
   <p id="timer"></p>
   <p id="typeMiss"></p>
   <p id="targetJp"></p>
   <p id="targetEn">Let's Surf Typing!</p>
   <p id="result"></p>
   <a id="twitter-buttom" href="" target="_blank"></a>
 </div>
   <%= javascript_pack_tag 'typing/index' %>
</div>
