<div class="top-wrapper">
  <div id="video-area">
    <%= video_tag('/videos/surfmovie.mp4', autoplay: true, loop: true) %>
  </div>
 <div class="typing">
   <p id="timer"></p>
   <p id="typeMiss"></p>
   <p id="targetJp">Let's Surf Typing!</p>
   <p id="targetEn"></p>
   <p id="result"></p>
   <a id="twitter-buttom" href="https://twitter.com/share?url=https://surf-typing.herokuapp.com/&text=<%= @count %><%= @missCount %>&hashtags=surftyping,海,タイピングゲーム" title="Twitter" target="_blank" rel=”noopener noreferrer”></a>

 </div>
   <%= javascript_pack_tag 'typings/index' %>
</div>
