<footer id="footer">
    <div class="row">
      <div class='FooterTable'>
        <div>
          <%= link_to 'プライバシーポリシー', privacy_path, class: 'footer_link' %>
        </div>
        <div>
          <%= link_to '利用規約', terms_path, class: 'footer_link' %>
        </div>
        <div>
          <%= link_to 'ご連絡先', contact_path, class: 'footer_link' %>
        </div>
    <div class="col-sm-6 col-12">
      <div class="copyright">
        <p>Copyright © 2021. SurfTyping</p>
      </div>
      <div class="twitter-icon">
        <%= link_to "https://twitter.com/share?url=https://surf-typing.herokuapp.com/&text=海を感じながら…サーフムービーをバックにタイピングの練習ができるアプリです。/&hashtags=SurfTyping,海,タイピングゲーム", title: 'Twitter', target: '_blank', rel: 'noopener noreferrer' do %>
        <i class="fab fa-twitter share-button"></i>
        <% end %>
      </div>
    </div>
  </div>
</footer>
