<header id="header">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-12">
        <div class="homelink">
          <%= image_pack_tag 'IMG.jpg', size: '30x30' %>
          <%= link_to 'SurfTyping', root_path, class: 'logo' %>
        </div>
      </div>
    </div>
  </div>
</header>
