.video-fixed {
  overflow: hidden;
}

.typing_video {
  z-index: -1;/*最背面に設定*/
}

.ending_video {
  z-index: -1;/*最背面に設定*/
  width: 100vw;
}
.top-wrapper {
  position: relative;
  width: 100%;
}

.typing {
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
  color: #e0ffff;
  text-shadow: 0 0 15px #666;
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
}

#targetEn {
  font-size: 30px;
  letter-spacing: .1em;
}

#targetJp {
  font-size: 40px;
  letter-spacing: .1em;
}

#timer {
  font-size: 35px;
  color: #f08080;
}

#result {
  color: #7fffd4;
}

.retry {
  text-decoration: none;
  color: #FFFF99;
  font-size: 25px;
}

.retry:hover {
  color: #FFD700;
}
