html,body{
  overflow: hidden;
}

video {
  z-index: -1;/*最背面に設定*/
  width: 100vw;
}

.top-wrapper {
  position: relative;
  width: 100%;
}

.top-inner-text {
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 15px #666;
  font-size: 25px;
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
}

h1.top_title {
  color: #55FFFF;
  font-size: 40px;
}

#volume {
  color: red;
}

.next {
  text-decoration: none;
  color: #FFFF99;
  font-size: 25px;
}

//footer

.footer-table {
  position: absolute;
  top: 800px;
  font-size: 5px;
  text-align: left;
  margin-left: 30px;
}

.col-sm-6 col-12 {
  display: table;
}

.copyright {
  display: table-cell;
  color: #FFFF99;
}

.twitter-icon {
  display: table-cell;
  padding-left: 10px;
  font-size: 10px;
}

.share-button {
  color: #1da1f2;
}

.footer_link {
  color: #FFFF99;
}

a {
  text-decoration: none;
}
