video {
    z-index: -1;/*最背面に設定*/
    width: 100vw;
    height: auto;
}

.top-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.top-inner-text {
    position: absolute;
    top: 30%;
    left: 25%;
    text-align: center;
    color: #fff;
    text-shadow: 0 0 15px #666;
}

.homelink {
  position: static;
  top: 500px;
  left: 400px;
}

#volume {
  color: red;
}

//footer

.col-sm-6 col-12 {
  display: table;
}

.copyright {
  display: table-cell;
}

.twitter-icon {
  display: table-cell;
  padding-left: 10px;
}
